<!-- <h1 style="text-align: center ; margin-top: 20%; font-size:80px; color: green; background-color: rgb(62, 185, 185);">docker project</h1> -->
<div class="navdiv">
    <nav class="navigation">
        <ul class="navul" >
            <li class="navli"><a class="nava " href="add">add student</a></li>
            <li class="navli"><a class="nava "href="update">update student</a></li>
            <li class="navli"><a class="nava "href="list">list student</a></li>
            <li class="navli"><a class="nava "href="login">login</a></li>
        </ul>
    </nav>
</div>
<h1>hello</h1>
<router-outlet></router-outlet>
