.navul{
    float: right; 
    list-style: none;
    margin-right: 90px;
   
}
.navli{
    display: inline-block;
    padding: 10px;
    
}
.navigation{
    background-color: #3fa46a;
    padding:8px;
    height: 90px;
}

.nava{
    color: white;
}